<div class="container">
    <header>
        <h1>{{title}}</h1>
        <p>Welcome to {{title}} weather app! <br> Enter the city name and get the weather details</p>
    </header>
    <main>
        
        <form class="search-form" action="/weather">
            <input type="text" name="location" placeholder="Enter city name" required>
            <button type="submit">Get Weather</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2025 Dinesh Chaudhary D Weather App.</p>
    </footer>
</div>
